POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=rag_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=password

QDRANT_HOST=qdrant
QDRANT_PORT=6333

LLAMA_SWAP_HOST=http://llama-swap:8080
LLM_MODEL=gemma2:2b

API_KEY=